@{
    ViewData["Title"] = "Home Page";
}

<div >
   @*  <div class="container">
        <img class="slider-img" src="~/assets/img/slider.png" />
        <p id="item_4" class="text-object item">Autumn’s Coming...</p>
        <p id="item_5" class="text-object item">We started with humble beginnings — selling out of our basement and frantically shipping orders as soon as we woke up. </p>
        <button id="item_6" class="text-object item">SHOP NOW</button>
    </div> *@



</div>
