
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24
}



html {
    position: relative;
    min-height: 100%;
}



.mainPage {
    height: 2650px;
}

.header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.slider-img{
    margin-left:-130px;
}

.shop-now-btn{
    height:48px;
    width:250px;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #F5F6F8;
    color: #666666;
    height: 50px;
    padding: 12px;
}

.usd {
    color:  #000000;
}

.inline {
    display: inline-flex;
}

#logo{
    width:74px;
    height:20px;
}


.navbar-icon-button{
    border:none;
    padding:0;
    
}

.search-input:focus {
    outline: none;
}

.search-form {
    border: 0.5px solid #EEEEEE;
    outline: none;
}

.brand-div{
    margin-left:165px;
}

.navbar-left-items{
    margin-left:150px;
}

.search-input {
    border: none;
}

.search-icon{
    align-self:center;
    margin-left:10px;
}

.us-img{
    margin-right:10px;
}


.promotional {
    display:flex;
    position:absolute;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color:white;
    justify-content:center;
  
}

.promotional p{
    margin-top:5px;
}



.item {
    position: absolute;
}

#item_0 {
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 680px;
    background-color: rgba(255, 213, 197, 1);
}

#item_1 {
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 680px;
    background-color: rgba(196, 196, 196, 1);
}

#item_3 {
    left: 30px;
    top: 67px;
    width: 720px;
    height: 747px;
}

#item_4 {

    left: -38px;
    top: 220px;
    font-size: 64px;
    width: 563px;
 font-family: "Jost*-Semi", Helvetica;
 font-weight:500;
    color: rgba(0, 0, 0, 1);
}

#item_5 {
    left: -40px;
    top: 324px;
    font-size: 16px;
    width: 467px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 200;
    color: rgba(0, 0, 0, 1);
}

#item_6 {
    left: -41px;
    top: 415px;
    font-size: 14px;
    width: 150px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.login-form-body{
    margin-top:100px;
}

.login-google{
    border: 1px solid #666666;
    margin-bottom:20px;

}

.new-signup-link{
    margin-left:65px;
}

.login-btn{
    height:57px;
    margin-top:20px;
}
.forget-pass-link{
    margin-left:45px;
    
}



.item {
    position: absolute;
    
}

    .item:hover {
        cursor: pointer;
    }

#item_jeans {
    left: -118px;
    
}

#item_shirts {
    left: 328px;
  
}

#item_footwear {
    left: 70%;
   
}

.container {
    position: relative;
}

.item {
    position: absolute;
}

#item_banner {
    left: 0px;
    top: 0px;
    width: 1170px;
    height: 549px;
}

#item_selectedStyles {
    left: 989px;
    top: 455px;
    font-size: 16px;
    width: 101px;
    font-family: "Jost*";
    font-weight: Book;
    color: rgba(255, 255, 255, 1);
}

#item_autmnColl {
    font-family: "Jost*-Semi", Helvetica;
    text-align:end;
    font-weight: 700;
    left: 802px;
    top: 111px;
    font-size: 64px;
    width: 288px;
    letter-spacing: -1.28px;
    line-height: 80px;
    
    color: rgba(255, 255, 255, 1);
}

#item_shopColl {
    margin-top: 373px;
    margin-left: -9px;
    left: 853px;
    font-size: 14px;
    width: 250px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.footer-banner{
    margin-top:780px;
    left:-38px;
}



#banner_02 {
    left: 0px;
    top: 0px;
    width: 570px;
    height: 240px;
}

#btn-banner {
    left: 334px;
    top: 145px;
    font-size: 14px;
    width: 180px;
    height:45px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

#enjoySummer {
    left: 379px;
    top: 100px;
    font-size: 16px;
    width: 139px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
}

#classictee {
    left: 351px;
    top: 45px;
    font-size: 32px;
    width: 166px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}


#footer-subBanners{
    margin-top:50px;
}

#banner_03-bg {
    left: 0px;
    top: 0px;
    width: 570px;
    height: 240px;
    background-color: rgba(247, 247, 247, 1);
}
#banner_03 {
    left: 0px;
    top: 0px;
    width: 200px;
    height: 240px;
}

#empty0 {
    left: 298px;
    top: 127px;
    width: 242px;
    height: 1px;
    background-color: rgba(231, 236, 239, 1);
}


#banner3-title0 {
    left: 300px;
    top: 95px;
    font-size: 16px;
    width: 242px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 500;
    color: #99CFF0;
}
#banner3-title1 {
    left: 386px;
    top: 95px;
    font-size: 16px;
    width: 242px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 500;
    color: #2778AD;
}
#banner3-title2 {
    left: 477px;
    top: 95px;
    font-size: 16px;
    width: 242px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 500;
    color: #074578;
}

#empty1 {
    left: 301px;
    top: 89px;
    width: 242px;
    height: 1px;
    background-color: rgba(231, 236, 239, 1);
}

#afterpart-logo {
    left: 326.34px;
    top: -21.45px;
    width: 195.91px;
    height: 144.89px;
}

#subbanner1{
    left:-120px;
    top:582px;
   

}

#subbanner2 {
    left: -75px;
    top: 582px;
}





.profile-card {
    width: 365px;
    margin-top:126px;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 248px;
    border:1px solid;
}



.user {
    position: relative;
}

.profile img {
    
    height: 100px;
    width: 100px;
    margin-top: 2px;
    margin-left:-12px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
}

#logout-btn{
    border-radius:20px;
    width:190px;
    height:45px;
}


.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.font-size-18 {
    font-size: 18px !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none !important;
}

.w-xl {
    min-width: 160px;
}

.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 2px 3px #e4e8f0;
    box-shadow: 0 2px 3px #e4e8f0;
}

.card {
    width:auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    
}

#cart-page {
    height: 2000px;
    font-family: "Jost*-Semi", Helvetica;
    font-weight: 500;
}

.shipping-check{
    margin-left:74px;
}

.total-price{
    font-weight:800;
    margin-inline-start:10px;
}

.profile-data{
    margin-top:73px;
}

.checkout-btn{
    width:295px;
    border-radius:0px;
    margin-top:25px;
    height:40px;
    align-self:center;
    

}

.modal-content{
    width:fit-content;
    margin-left:-72px;
    margin-top:136px;
    border-radius:0px;
}

.popup-title{
    margin-top:-100px;
}

.email-input{
    width:380px;
    border-radius:0px;
    margin-left:30px;
    height:45px;
}

#subscribe-btn{
    width:121px;
    height:46px;
    border-radius:0;
    margin-left:125px;
}

.popup-content {
    padding: 0 !important;
}