@{
    ViewData["Title"] = "Cart Page";
}


<div id="cart-page" class="container">
    <div class="row mt-5">
        <div class=" mt-5 mb-5 text-center">
            <h1 class="text-center fw-bolder">My Cart</h1>
            <p class="text-center fw-light">Items are reserved for 60 minutes</p>
        </div>
        <div class="col-xl-8">
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Subtotal</th>
                            <th class="text-center">Discount</th>
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/FF0000/000000" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">Unionbay Park</a></h4><span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="count-input">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$43.90</td>
                            <td class="text-center text-lg text-medium">$18.00</td>
                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/5F9EA0/000000" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">Daily Fabric Cap</a></h4><span><em>Size:</em> XL</span><span><em>Color:</em> Black</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="count-input">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option selected="">2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$24.89</td>
                            <td class="text-center">—</td>
                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/9932CC/000000" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">Cole Haan Crossbody</a></h4><span><em>Size:</em> -</span><span><em>Color:</em> Turquoise</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="count-input">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center text-lg text-medium">$200.00</td>
                            <td class="text-center">—</td>
                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                    

        </div>

        <div class="col-xl-4">
            <div class="mt-5 mt-lg-0">
                <div class="card border shadow-none">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">Cart Total</h5>
                    </div>
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                        
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Sub Total:</td>
                                            <td class="text-end">$780</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>
                                                <div class="form-check shipping-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Flat rate
                                                </label>
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                   
                                                </div>
                                            <div class="form-check shipping-check">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Free shipping
                                                </label>
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                    
                                                </div>
                                            <div class="form-check shipping-check">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Local pickup
                                                </label>
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                 
                                            </div>
                                            </td>
                                        </tr>
                                      
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total:</td>
                                        <td class="total-price ms-5">$798.20</td>
                                        </tr>
                                    </tfoot>
                                </table>
                         
                            <a href="" class="btn btn-success btn-dark checkout-btn text-center">
                                PROCEED TO CHECKOUT
                            </a>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>
